node-red.json
[
    {
        "id": "3346d51aa6c34a1b",
        "type": "tab",
        "label": "Mindcluster",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "66b6a5efdf0f5b1e",
        "type": "serial in",
        "z": "3346d51aa6c34a1b",
        "name": "Serial In COM4",
        "serial": "a060899acb167b5c",
        "x": 80,
        "y": 340,
        "wires": [
            [
                "25885d07949d43fa"
            ]
        ]
    },
    {
        "id": "25885d07949d43fa",
        "type": "json",
        "z": "3346d51aa6c34a1b",
        "name": "Json Deserializer",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 340,
        "wires": [
            [
                "7246f0aa0fdf9c0b",
                "eddd4efadf9cfdd8",
                "3e88f0fcaa49bffb",
                "60d7c3fce58ab45b",
                "1d75ac679d699f7f",
                "2353093f9350c843"
            ]
        ]
    },
    {
        "id": "57ca954dcf35a724",
        "type": "ui_gauge",
        "z": "3346d51aa6c34a1b",
        "name": "Temp Gauge",
        "group": "a1c11911d65b2c47",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "Graus Celsius",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 810,
        "y": 440,
        "wires": []
    },
    {
        "id": "8d51c03a06526a77",
        "type": "ui_gauge",
        "z": "3346d51aa6c34a1b",
        "name": "Lum Gauge",
        "group": "9022e346b0c4c468",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "Luminosidade",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 810,
        "y": 340,
        "wires": []
    },
    {
        "id": "7246f0aa0fdf9c0b",
        "type": "change",
        "z": "3346d51aa6c34a1b",
        "name": "Json PH Sensor",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.phSensor",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 240,
        "wires": [
            [
                "b1f2ed043d24b1cc"
            ]
        ]
    },
    {
        "id": "b1f2ed043d24b1cc",
        "type": "ui_gauge",
        "z": "3346d51aa6c34a1b",
        "name": "PH Gauge",
        "group": "c04019a9fa2c7431",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "PH",
        "format": "{{value}}",
        "min": 0,
        "max": "14",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 810,
        "y": 240,
        "wires": []
    },
    {
        "id": "eddd4efadf9cfdd8",
        "type": "change",
        "z": "3346d51aa6c34a1b",
        "name": "Json Lum Sensor",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.lumSensor",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 340,
        "wires": [
            [
                "8d51c03a06526a77"
            ]
        ]
    },
    {
        "id": "3e88f0fcaa49bffb",
        "type": "change",
        "z": "3346d51aa6c34a1b",
        "name": "Json Temp Sensor",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.tempSensor",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 440,
        "wires": [
            [
                "57ca954dcf35a724"
            ]
        ]
    },
    {
        "id": "60d7c3fce58ab45b",
        "type": "debug",
        "z": "3346d51aa6c34a1b",
        "name": "Debug In",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 500,
        "wires": []
    },
    {
        "id": "1d75ac679d699f7f",
        "type": "http request",
        "z": "3346d51aa6c34a1b",
        "name": "POST Firebase",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://mindcluster-node-red-default-rtdb.firebaseio.com/data.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 560,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "48cb04cb7ad16848",
        "type": "serial out",
        "z": "3346d51aa6c34a1b",
        "name": "Serial Out COM4",
        "serial": "a060899acb167b5c",
        "x": 1190,
        "y": 140,
        "wires": []
    },
    {
        "id": "2353093f9350c843",
        "type": "function",
        "z": "3346d51aa6c34a1b",
        "name": "Check Alert",
        "func": "var ph = msg.payload.phSensor;\nvar temp = msg.payload.tempSensor;\nvar lum = msg.payload.lumSensor;\n\nmsg.alert = false;\n\nif((ph > 9.5 || ph < 6) || \n   (temp > 35 || temp < 10) ||\n   (lum < 300))\n{\n    msg.alert = true;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 140,
        "wires": [
            [
                "a7d02e68b44bc715"
            ]
        ]
    },
    {
        "id": "a7d02e68b44bc715",
        "type": "switch",
        "z": "3346d51aa6c34a1b",
        "name": "Activate Alert",
        "property": "alert",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 810,
        "y": 140,
        "wires": [
            [
                "48cb04cb7ad16848",
                "9c19ec0c1fb0d21a"
            ]
        ]
    },
    {
        "id": "3a18c3e15bc5faef",
        "type": "twitter out",
        "z": "3346d51aa6c34a1b",
        "twitter": "",
        "name": "Tweet Alert",
        "x": 1450,
        "y": 220,
        "wires": []
    },
    {
        "id": "eb37221fe6245bdf",
        "type": "debug",
        "z": "3346d51aa6c34a1b",
        "name": "Tweet Value",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1450,
        "y": 300,
        "wires": []
    },
    {
        "id": "9c19ec0c1fb0d21a",
        "type": "function",
        "z": "3346d51aa6c34a1b",
        "name": "Configure Tweet",
        "func": "msg.payload = \"Alerta para a qualidade da água do Rio Pinheiros! \\nPH: \" + msg.payload.phSensor.toFixed(2) + \"\\nTemperatura: \" + msg.payload.tempSensor.toFixed(2) + \" °C\" + \"\\nLuminosidade: \" + msg.payload.lumSensor.toFixed(2);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 220,
        "wires": [
            [
                "3a18c3e15bc5faef",
                "eb37221fe6245bdf"
            ]
        ]
    },
    {
        "id": "a060899acb167b5c",
        "type": "serial-port",
        "serialport": "COM4",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "a1c11911d65b2c47",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "20dd1b6356a1bd44",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9022e346b0c4c468",
        "type": "ui_group",
        "name": "Luminosidade",
        "tab": "20dd1b6356a1bd44",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c04019a9fa2c7431",
        "type": "ui_group",
        "name": "PH",
        "tab": "20dd1b6356a1bd44",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "20dd1b6356a1bd44",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]